@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap'); */

/* * {
  font-family: 'Poppins', sans-serif;
} */

:root {
  --border-size: 0.125rem;
  --duration: 250ms;
  --ease: cubic-bezier(0.215, 0.61, 0.355, 1);
  --font-family: monospace;
  --color-primary: white;
  --color-secondary: black;
  --color-tertiary: dodgerblue;
  --shadow: rgba(0, 0, 0, 0.1);
  --space: 0.5rem;
}

* {
  box-sizing: border-box;
}

.text-shdows{
  text-shadow: var(--shadow) 2px 2px;
}

.shadow-default{
  box-shadow: var(--shadow) 4px 4px;
}

.border-default{
  border: var(--border-size) solid black;
}

.button-default {
  display: flex;
  width: 100%;
  box-shadow: var(--shadow) 4px 4px;
}

.button-default button {
  width: 7rem;
  flex-grow: 1;
  cursor: pointer;
  position: relative;
  padding:
    calc(var(--space) / 1.125)
    var(--space)
    var(--space);
  border: var(--border-size) solid black;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  font-size: 1rem;
  font-family: var(--font-family);
  text-transform: lowercase;
  text-shadow: var(--shadow) 2px 2px;
  transition: flex-grow var(--duration) var(--ease);
}

.button-default button:hover,
.button-default button:focus {
  flex-grow: 2;
  color: white;
  outline: none;
  text-shadow: none;
  background-color: var(--color-secondary);
}

.button-default button:focus {
  outline: var(--border-size) dashed var(--color-primary);
  outline-offset: calc(var(--border-size) * -3);
}

.button-default:hover button:focus:not(:hover) {
  flex-grow: 1;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  outline-color: var(--color-tertiary);
}

.button-default button:active {
  transform: translateY(var(--border-size));
}

/* Quill js  */

/* tirar aquela barra feia */
.ql-toolbar.ql-snow{
  border: none !important;
}

.default-container{
  /* max-width: 30rem; */
  width: 36rem
}

.container .ql-editor{
  padding: 0.1in;
  margin: 0.5rem;
  background-color: #fdfdfd;
  min-height: 10rem;
  border-radius: 0.375rem;
}

.container .ql-toolbar.ql-snow{
  display: flex;
  justify-content: center;
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #f3f3f3;
  border-radius: 0.375rem;
  border: none !important;
  box-shadow: var(--shadow) 0px 2px;
}

.ql-container {
  border: none !important;
}

.ql-toolbar {
  border: none !important;
}

@media print {
  body {
    background: none;
  }
}


/* NavBar */


.navMenu {
  position: absolute;
  top: 2rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.navMenu a {
  text-decoration: none;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
  width: 80px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 6px;
  height: 6px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}
