@tailwind base;
@tailwind components;
@tailwind utilities;

/* Quill js  */
/* tirar aquela barra feia */
.ql-toolbar.ql-snow {
  border: none !important;
}

.container .ql-editor {
  padding: 0.1in;
  margin: 0.5rem;
  /* background-color: #fdfdfd; */
  border-radius: 0.375rem;
  color: #ffff;
  font-size: 1rem !important;
  height: 49em !important;
  margin-top: -0.5px;
  overflow-wrap: anywhere;
}

.container .ql-toolbar.ql-snow {
  justify-content: center;
  background-color: #f3f3f3;
  border-radius: 0.375rem;
  bottom: 0;
  border: none !important;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 100% !important;
}

.ql-container {
  border: none !important;
}

.ql-picker-options {
  top: auto !important;
  bottom: 100% !important;
}

.ql-toolbar {
  top: 0;
  z-index: 999999;
  display: flex;
  width: 100%;
  position: sticky;
}

@media print {
  body {
    background: none;
  }
}

@media only screen and (max-width: 479px) {
  /* smartphones, Android phones, landscape iPhone */
  .container .ql-editor {
    height: 35em !important;
  }
}

@media only screen and (min-width: 480px) {
  /* smartphones, Android phones, landscape iPhone */
  .container .ql-editor {
    height: 37em !important;
  }
}

@media only screen and (min-width: 600px) {
  /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
  .container .ql-editor {
    height: 42em !important;
  }
}
@media only screen and (min-width: 801px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .container .ql-editor {
    height: 45em !important;
  }
}
@media only screen and (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  .container .ql-editor {
    height: 45em !important;
  }
}
@media only screen and (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .container .ql-editor {
    height: 42em !important;
  }
}

@media only screen and (min-width: 1300px) {
  /* hi-res laptops and desktops */
  .container .ql-editor {
    height: 49em !important;
  }
}

/* placeholder  */
.ql-container > .ql-editor.ql-blank::before {
  color: rgb(194, 194, 194);
}
/* Scroll */
::-webkit-scrollbar {
  height: 16px;
  overflow: visible;
  width: 16px;
}

::-webkit-scrollbar-button {
  height: 0;
  width: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  border-width: 1px 1px 1px 2px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  background-clip: padding-box;
  border: solid transparent;
  -webkit-box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  box-shadow: inset 1px 1px 0 rgb(0 0 0 / 10%), inset 0 -1px 0 rgb(0 0 0 / 7%);
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  border: 0;
}
::-webkit-scrollbar-track-piece {
  border-width: 0;
}

.ql-editor ul[data-checked='false'] > li::before {
  --chkbg: var(--p);
  --chkfg: var(--pc);
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));

  flex-shrink: 0;
  --chkfg: var(--b1);
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border-width: 1px;
  --tw-border-opacity: 0.2;
  border-radius: 25%;
}

.ql-editor ul[data-checked='true'] > li::before {
  --chkbg: var(--p);
  --chkfg: var(--pc);
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));

  flex-shrink: 0;
  --chkfg: var(--b1);
  height: 1rem;
  width: 1rem;
  cursor: pointer;
  border-width: 1px;
  --tw-border-opacity: 0.2;
  border-radius: 25%;
  --tw-border-opacity: 1;
  border-color: hsl(var(--p) / var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: hsl(var(--p) / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: hsl(var(--pc) / var(--tw-text-opacity));

  --tw-bg-opacity: 1;
  background-color: hsl(var(--bc) / var(--tw-bg-opacity));
  background-repeat: no-repeat;
  background-image: linear-gradient(-45deg, transparent 65%, hsl(var(--chkbg)) 65.99%),
    linear-gradient(45deg, transparent 75%, hsl(var(--chkbg)) 75.99%),
    linear-gradient(-45deg, hsl(var(--chkbg)) 40%, transparent 40.99%),
    linear-gradient(
      45deg,
      hsl(var(--chkbg)) 30%,
      hsl(var(--chkfg)) 30.99%,
      hsl(var(--chkfg)) 40%,
      transparent 40.99%
    ),
    linear-gradient(-45deg, hsl(var(--chkfg)) 50%, hsl(var(--chkbg)) 50.99%);
}

.ql-editor ul > li {
  display: flex;
  align-items: baseline;
  margin-left: 10px;
  padding-left: 0 !important;
}

.ql-editor ul[data-checked='true'] > li::before,
.ql-editor ul[data-checked='false'] > li::before {
  color: transparent !important;
}

.ql-editor li:not(.ql-direction-rtl)::before {
  margin-right: 0.4em !important;
  text-align: center !important;
}

.card_preview-text > p {
  display: -webkit-box;
  -webkit-line-clamp: 18;
  -webkit-box-orient: vertical;
  overflow: hidden !important;
  padding: 0;
}

.ql-delete {
  color: #303030 !important;
}

.ql-archive {
  color: #303030 !important;
}

.ql-delete:hover {
  color: #06c !important;
}

.ql-archive:hover {
  color: #06c !important;
}

.card-glass {
  color: #303030;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
}

.flex-direction-column{
  flex-direction: column;
}

.dialog-perfil::backdrop {
  background-color: #00000080;
}