@tailwind base;
@tailwind components;
@tailwind utilities;

.card-glass {
  color: #303030;
  box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 12px;
}

.flex-direction-column{
  flex-direction: column !important;
}

.tooltip-size::before {
  max-width: 220px;
  word-break: break-all;
}

.dialog-perfil::backdrop {
  background-color: #00000080;
}